body {
  cursor: default;
}

body,
input,
button {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #5f5f5f;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0px;
  cursor: pointer;
}

a {
  color: #1887b5;
  text-decoration: none;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: normal;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

header .name {
  font-size: 1.5em;
}

main {
  max-width: 920px;
  margin: 50px auto 0 auto;
  text-align: center;
}

input {
  display: block;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  font-size: 1.4em;
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px;
}

input:focus {
  outline: 0;
  border-color: #ccc;
}

input.error:invalid {
  border-color: #c70b0b;
}

input[disabled],
button[disabled] {
  opacity: 0.5;
}

input + input {
  margin-top: 15px;
}

summary,
button {
  padding: 5px 10px;
  font-size: 1.2em;
  text-shadow: 1px 1px #1887b5;
  border: 2px solid #1887b5;
  background: #28A3D6;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 2px;
}

button[disabled] {
  cursor: not-allowed;
}

summary:focus,
button:focus {
  outline: 0;
}

summary:focus,
summary:active,
button:focus,
button:active {
  background: #30B2E8;
}

summary:active,
button:active {
  position: relative;
  top: 1px;
}

summary {
  display: inline-block;
}

summary::-webkit-details-marker {
  display: none;
}

.ticket-container {
  margin-top: 50px;
}

.inline-forms form {
  display: inline-block;
}

.ticket-container button {
  margin-top: 20px;
}

header {
  position: relative;
}

.actions {
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}

.box {
  position: relative;
  border: 1px solid #ddd;
  padding: 25px;
  margin: 0 auto;
}

.box:before {
  display: block;
  position: absolute;
  top: -10px;
  left: calc(50% - 20px);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ddd transparent;
}

.box--small {
  max-width: 300px;
}

.remove {
  cursor: pointer;
}

.padlock,
.pencil {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100%;
  cursor: pointer;
}

.padlock {
  background: url(../images/icons/padlock.svg);
}

.pencil {
  background: url(../images/icons/pencil.svg);
}
